@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-8xl font-bold;
	}

	h2 {
		@apply text-6xl font-bold;
	}

	h3 {
		@apply text-4xl font-bold;
	}

	h4 {
		@apply text-2xl font-bold;
	}

	span {
		@apply text-xl;
	}

	:root {
		--accent: #5557ee;
		--background: #f9fafc;
		--navBackground: #fff;
		--foreground: #222;
	}

	.dark {
		--accent: #5557ee;
		--background: #222;
		--navBackground: #242424;
		--foreground: #f9fafc;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}

	* {
		font-family: 'Atkinson Hyperlegible', sans-serif;
	}

	.gradientText {
		background: linear-gradient(90deg, #8b5cf6, #ec4899);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
