@import '@fontsource-variable/playfair-display';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-display: swap;
    src: url('./fonts/GeistVF.woff2') format('woff2');
  }
  h1 {
    @apply font-playfair text-6xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  a,
  span {
    @apply text-xl;
  }

  button {
    @apply text-lg;
  }

  :root {
    --accent: #8c5cf5;
    --background: #f9fafc;
    --lightBackground: #fff;
    --foreground: #1c1b22;
    --shadowColor: rgba(0, 0, 0, 0.1);
  }

  .dark {
    --accent: #cf4eb5;
    --background: #1c1b22;
    --lightBackground: #282630;
    --foreground: #f9fafc;
    --shadowColor: rgba(0, 0, 0, 0.2);
  }

  body {
    @apply bg-background text-xl text-foreground;
  }

  * {
    @apply font-geist;
  }

  .gradientText {
    background: linear-gradient(90deg, #8b5cf6, #ec4899);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  *::-webkit-scrollbar {
    height: 5px;
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }

  *::-webkit-scrollbar-track:active {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #cccccc;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #e2e2e2;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #e2e2e2;
  }
}
